@import '../../colors.scss';

.btn-signup{
    background-color: $ACCENT_COLOR;
    border: 1px solid $ACCENT_COLOR;
    color: $TEXT_COLOR;
        &:hover{
            background-color: #ffffff;
            color: $PRIMARY_TEXT;
        }
}