$DARK_PRIMARY_COLOR : #512DA8;
$LIGHT_PRIMARY_COLOR : #D1C4E9;
$PRIMARY_COLOR : #673AB7;
$TEXT_COLOR : #FFFFFF;
$ACCENT_COLOR : #448AFF;
$PRIMARY_TEXT : #212121;
$SECONDARY_TEXT : #757575;
$DIVIDER_COLOR : #BDBDBD;